[mysqld]
innodb_buffer_pool_size = 64M
innodb_file_per_table = 1
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_large_prefix = 1
innodb-status-output = 1
innodb-status-output-locks = 1
default-storage-engine = innodb
sql_mode = ""
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

log_bin = mysql-bin

port = 3306
server_id = 1

transaction-isolation = REPEATABLE-READ

# autocommit = 0
explicit_defaults_for_timestamp = true

lower_case_table_names = 1

# Logging
log_output = FILE
log_warnings = 1
log_error = /var/log/mysql/error.log
general_log = 1
general_log_file = /var/log/mysql/general_query_all.log
log-slow-admin-statements = 1
log-queries-not-using-indexes = 1
slow_query_log = 1
long_query_time = 1
slow_query_log_file = /var/log/mysql/slow_query.log

[mysql]
default-character-set = utf8mb4
show-warnings